/* .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d32323; 
  padding: 10px 20px;
}

.logo {
  height: 35px; 
}

.searchBar {
  display: flex;
  align-items: center;
  border: 1px solid white; 
  padding: 5px;
}

.searchBar input {
  border: none;
  outline: none;
  padding: 5px;
  background-color: transparent;
  color: white;
}

.searchBar button {
  background: none;
  border: none;
  color: white;
}

.menuWrapper {
  position: relative;
}

.menuButton {
  background: none;
  border: none;
  color: white;
  font-size: 1.5em; 
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #d32323; 
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 10px;
  border-bottom: 1px solid white;
}

.menu li a {
  text-decoration: none;
  color: white;
  display: block;
}


.h1 {
  font-size: 2rem; 
  font-weight: bold; 
  color: #333; 
  margin-top: 20px; 
}
 */

 .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; 
  background-color: #d32323; 

}

.logo {
  width: 50px; 
  height: auto;
}

.headerTitle {
  flex-grow: 1;
  text-align: center; 
  font-size: 24px; 
  color: whitesmoke;
}

.menuWrapper {
  position: relative; /* This makes it the reference point for the absolutely positioned child */
  display: flex;
  align-items: center;
}


.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px; 
}

/* .menu {
  display: block; 
  position: absolute; 
  right: 0;
  top: 100%; 
  background-color: white;
  border: 1px solid #ccc;
  width: 200px; 
  z-index: 1000;
} */
.menu {
  display: block;
  position: absolute;
  top: 100%; 
  right: 0; 
  background-color: darkgray;
  border: 1px solid black;
  width: 200px; 
  z-index: 1000; 
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: whitesmoke; 
}

.menu li a:hover {
  background-color: #f0f0f0; 
}