/* styles/SearchBar.module.css */
.searchBar {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0 auto; 
    max-width: 600px; 
    padding:10px;
}

.searchInput {
    flex-grow: 1; 
    padding: 10px 15px;
    margin-right: -1px; 
    font-size: 16px;
    border: 2px solid #bbb; 
    border-radius: 5px 0 0 5px; 
    outline: none; 
}

.searchInput:focus {
    border-color: black; 
}

.searchButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d32323; /*yelp-red */
    color: white;
    border: 2px solid #d32323; 
    border-left: none; 
    border-radius: 0 5px 5px 0; 
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.searchButton:hover,
.searchButton:focus {
    background-color: #b11212; 
    border-color: #b11212;
}

.searchButton:active {
    transform: scale(0.98);
}

  
  